<h1>Your Basket</h1>

<div id="basket">
  <table>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
      <% @basket.products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= number = @basket.items.find_by(product_id: product.id).quantity %></td>
        <td>£<%= number * product.price %></td>
        <td><%= link_to "Remove from basket", remove_from_basket_path(product), method: :put, class: "cell_link"%></td>
      </tr>

      <% end %>
      <tr>
        <th>Total</th>
          <td></td>
          <td id="total">£<%= @basket.total %></td>
      </tr>
  </table>
  <p><%= link_to "Empty basket", empty_basket_path, method: :put, class: "link_button"%>

    <%= link_to "Place Order", orders_path, method: :post, class: "link_button"%>
  </p>
  
</div>