<%= form_for [:admin, @product] do |f| %>
  
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul> 
    </div>
<% end %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>

  <fieldset>          
    <%= f.label :price %>
    <%= f.number_field :price, min: 0, step: 0.01 %>
  </fieldset>

  <fieldset>          
    <%= f.label :quantity %>
    <%= f.number_field :quantity, min: 0 %>
  </fieldset>

  <%= f.submit %>
<% end %>