<!DOCTYPE html>
<html>
  <head>
    <title>OrchidHouse</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <span class="sign_in_out_up">
      <% unless user_signed_in? %>
        <%= link_to "Sign in", new_user_session_path, class: "link_button" %>
        <%= link_to "Sign up", new_user_registration_path, class: "link_button" %>
      <% end %>
      <% if user_signed_in? %>
        <p>
          Signed in as <strong><%= current_user.email %></strong>
        </p>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "link_button" %>
          <%= link_to "My Account", page_show_path, class: "link_button" %>
      <% end %>
    </span>
    <span class="basket">
      <%= link_to "Basket", basket_path, class: "link_button" %>
      <span id="quantity">
        <%= basket_quantity %>
      </span>
    </span>
    <span class="search">
      <%= form_tag(products_path, method: :get) do %>
          <%= text_field_tag :query, params[:query] %>
          <%= button_tag "Search", name: nil, class: "link_button" %>
        <% end -%>
    </span>
  </header>
  <div>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <li><%= link_to "FAQ", page_faq_path %></li>
      <li><%= link_to "Contact Us", page_contact_path %></li>
      <li><%= link_to "About", page_about_path %></li>
    </ul>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.secrets.google_maps_api_key%>&callback=initMap" async defer>
  </script>
  </body>
</html>
